<!DOCTYPE html>
<html dir='rtl'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Main Page</title>
</head>
<body>
    <div class="page-container">
        <div class="right">
            <section class="rightside-container">
                <div class="nav-btn-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="nav-btn close-nav" viewBox="0 0 16 16">
                        <path d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="nav-btn open-nav" viewBox="0 0 16 16">
                        <path d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm10.646 2.146a.5.5 0 0 1 .708.708L11.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zM2 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </div>
        
                <form action="{% url 'changeprofilepic' %}" method="post" id="avatar-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="avatar" id="avatar" hidden>
                </form>
        
        
                <div class="profile-container rightside-content">
                    <div class="avatar">
                        <div class="avatar-onhover">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="avatar-on-hover-icon" viewBox="0 0 16 16">
                                <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"/>
                                <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="name"><h4>{{ user.first_name }}</h4></div>
                    <div class="email">{{ user.email }}</div>
                </div>
        
        
                <div class="today rightside-content"></div>
                <div class="log-out rightside-content">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                    <form action="{% url 'logout' %}" method="post" hidden>
                        {% csrf_token %}
                        <button type="submit" id='log-out-submit'></button>
                    </form>
                    <h5 id="log-out">خروج</h5>
                </div>
            </section>
        </div>
    
        <div class="left">
            
            
            <header>
                <div class="header-content">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="header-icon" viewBox="0 0 16 16">
                        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                    </svg>
                    <h1>مدیر برنامه</h1>
                </div>
            </header>


            <section class="leftside-container">
                <div class="header">
                    <div class="title"><h4>ددلاین ها</h4></div>
                    <div class="add-new-deadline-btn open-form-btn" name="add-deadline-form-container"><div>اضافه کردن ددلاین</div></div>
                </div>
                
                
        
        
        
                <div id="add-deadline-form-container" class="deadline-form deadline-form-container">
                    <div id="add-deadline-form-content" class="deadline-form-content">
                        <form action="{% url 'adddeadline' %}" method="post">
                            {% csrf_token %}
                            <div>
                                <label for="title">عنوان</label>
                                <input type="text" id="title" name="title" required maxlength="190" placeholder="عنوان">
                            </div>
                            <div>
                                <label for="hour">ساعت</label>
                                <input type="number" id="hour" name="hour" required placeholder="ساعت">
                            </div>
                            <div>
                                <label for="day">روز</label>
                                <input type="number" id="day" name="day" required placeholder="روز">
                            </div>
                            <div>
                                <select name="month" id="month" required>
                                    <option value="1">فروردین</option>
                                    <option value="2">اردیبهشت</option>
                                    <option value="3">خرداد</option>
                                    <option value="4">تیر</option>
                                    <option value="5">مرداد</option>
                                    <option value="6">شهریور</option>
                                    <option value="7">مهر</option>
                                    <option value="8">آبان</option>
                                    <option value="9">آذر</option>
                                    <option value="10">دی</option>
                                    <option value="11">بهمن</option>
                                    <option value="12">اسفند</option>
                                </select>
                            </div>
                            <div>
                                <label for="year">سال</label>
                                <input type="number" id="year" name="year" required placeholder="سال">
                            </div>
                            <button type="submit" id="submit-add-deadline" hidden></button>
                            <button type="reset" id="cancel-add-deadline" hidden></button>
                            <div class="form-btn-container">
                                <span class="form-btn submit" name="submit-add-deadline">افزودن</span>
                                <span class="form-btn cancel" name="cancel-add-deadline" container="add-deadline-form-container">لغو کردن</span>
                            </div>
                            
                        </form>
                    </div>
                </div>
        
        
        
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col" class="delete-col">ویرایش</th>
                        <th scope="col">ساعت</th>
                        <th scope="col">تاریخ</th>
                        <th scope="col">عنوان</th>
                      </tr>
                    </thead>
                    <tbody id="deadlines-table"></tbody>
                  </table>
            </section>
        
            <form action="" method="post" hidden id="delete-form">
                {% csrf_token %}
                <button type="submit" id="submit-delete-form"></button>
            </form>
        </div>
    </div>


    <!-------------------javascripts--------------------------->
    <script src="../../static/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-------------------nav---------------------->
    <script>
        let nav_codition = 'opened'
        $('.nav-btn-container').click(function(){
            if(nav_codition == 'opened'){
                $('.rightside-container').animate({width: 60},100, function(){
                    $('.page-container').css('grid-template-columns', '60px auto')
                })
                $('.rightside-content').hide()
                $('.close-nav').hide()
                $('.open-nav').show()  
                $('.nav-btn-container').css('left', '5px')
                $('.rightside-container').css('min-height', '100px')
                nav_codition = 'closed' 


            }

            else{
                $('.rightside-container').animate({width: 300},100, function(){
                    $('.page-container').css('grid-template-columns', '300px auto')
                })

                $('.rightside-content').show()
                $('.close-nav').show()
                $('.open-nav').hide() 
                nav_codition = 'opened' 
                $('.rightside-container').css('min-height', '650px') 


                
            }
        })
    </script>


    <!------------------avatar-------------------->
    <script>
        if('{{ user.profile.avatar }}' == ''){$('.avatar').css('background-image', 'url(../../../media/images/avatars/default.svg)')}
        else{$('.avatar').css('background-image', 'url(../../../media/{{ user.profile.avatar }})')}
        
        $('.avatar').click(function(){$('#avatar').click()})
        $('#avatar').change(function(){$('#avatar-form').submit()})
        /*---avatar animations---*/
        $('.avatar').hover(function(){
            $('.avatar-on-hover-icon').addClass('avatar-icon-animation-up')
            $('.avatar-on-hover-icon').removeClass('avatar-icon-animation-down')
            $('.avatar-onhover').addClass('avatar-onhover-animation-up')
            $('.avatar-onhover').removeClass('avatar-onhover-animation-down')
        })
        $('.avatar').mouseleave(function(){
            $('.avatar-on-hover-icon').addClass('avatar-icon-animation-down')
            $('.avatar-on-hover-icon').removeClass('avatar-icon-animation-up')
            $('.avatar-onhover').addClass('avatar-onhover-animation-down')
            $('.avatar-onhover').removeClass('avatar-onhover-animation-up')
        })
    </script>

    <script>
        /*--------------today content-----------------*/
        let today = JSON.parse('{{today|escapejs}}');
        week_dic = {
            'Shanbeh': 'شنبه',
            'Yekshanbeh': 'یکشنبه',
            'Doshanbeh': 'دوشنبه',
            'Seshanbeh': 'سه شنبه',
            'Chaharshanbeh': 'چهارشنبه',
            'Panjshanbeh': 'پنجشنبه',
            'Jomeh': 'جمعه'
        }
        month_dic = {
            'Farvardin': 1,
            'Ordibehesht': 2,
            'Khordad': 3,
            'Tir': 4,
            'Mordad': 5,
            'Shahrivar': 6,
            'Mehr': 7,
            'Aban': 8,
            'Azar': 9,
            'Dey': 10,
            'Bahman': 11,
            'Esfand': 12
        }
        today['title'] = week_dic[today['title']]
        today['month'] = month_dic[today['month']]
        let today_content = `
            <ul>
                <li>امروز ${today.title}</li>
                <li>${today.day} / ${today.month} / ${today.year}</li>
            </ul>
        `
        $('.today').html(today_content)



        /*--------------table content-----------------*/
        let deadlines = JSON.parse('{{deadlines|escapejs}}');
        n = 0
        for(d in deadlines){
            let id = deadlines[d].pk
            let title = deadlines[d].fields.title
            let hour = deadlines[d].fields.hour
            let day = deadlines[d].fields.day
            let month = deadlines[d].fields.month
            let year = deadlines[d].fields.year
            

            let content1 = `                    <tr name="${id}">
                        <th scope="row">
                            <div class="edit-icon-container open-form-btn" name="edit-deadline-form-container${id}" id="${id}" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="edit-icon closed-edit-icon${id}" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="edit-icon opened-edit-icon${id} opened-edit-icon" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                </svg>
                            </div>
                        </th>
                        <td>${hour}</td>
                        <td> ${day} / ${month} / ${year}</td>
                        <td>${title}</td>
                    </tr>`
            
            let content2 = `<tr id="tr-edit-deadline-form-container${id}" class="deadline-form">
                        <td colspan="4">
                            <div id="edit-deadline-form-container${id}" class="deadline-form deadline-form-container">
                                <div id="edit-deadline-form-content${id}" class="deadline-form-content">
                                    <form action="/edit/${id}" method="post">
                                        {% csrf_token %}
                                        <div>
                                            <label for="title">عنوان</label>
                                            <input type="text" id="title" name="title" required maxlength="190" placeholder="عنوان" value="${title}">
                                        </div>
                                        <div>
                                            <label for="hour">ساعت</label>
                                            <input type="number" id="hour" name="hour" required placeholder="ساعت" value="${hour}">
                                        </div>
                                        <div>
                                            <label for="day">روز</label>
                                            <input type="number" id="day" name="day" required placeholder="روز" value="${day}">
                                        </div>
                                        <div>
                                            <select name="month" id="month" required>
                                                <option value="1"  class="month-1-of-id-${id}">فروردین</option>
                                                <option value="2"  class="month-2-of-id-${id}">اردیبهشت</option>
                                                <option value="3"  class="month-3-of-id-${id}">خرداد</option>
                                                <option value="4"  class="month-4-of-id-${id}">تیر</option>
                                                <option value="5"  class="month-5-of-id-${id}">مرداد</option>
                                                <option value="6"  class="month-6-of-id-${id}">شهریور</option>
                                                <option value="7"  class="month-7-of-id-${id}">مهر</option>
                                                <option value="8"  class="month-8-of-id-${id}">آبان</option>
                                                <option value="9"  class="month-9-of-id-${id}">آذر</option>
                                                <option value="10" class="month-10-of-id-${id}">دی</option>
                                                <option value="11" class="month-11-of-id-${id}">بهمن</option>
                                                <option value="12" class="month-12-of-id-${id}">اسفند</option>
                                            </select>
                                        </div>
                                        <div>
                                            <label for="year">سال</label>
                                            <input type="number" id="year" name="year" required placeholder="سال" value="${year}">
                                        </div>
                                        <button type="submit" id="submit-edit-deadline${id}" hidden></button>
                                        <button type="reset" id="cancel-edit-deadline${id}" hidden></button>
                                        <div class="form-btn-container">
                                            <span class="form-btn submit" name="submit-edit-deadline${id}">ذخیره</span>
                                            <span class="form-btn cancel delete" name="cancel-edit-deadline${id}" container="edit-deadline-form-container${id}" idfordelete="${id}">حذف</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    `
                    let content = ''
                    if(n%2 == 0){content = content1 + content2 +'<tr hidden><th></th></tr>'}
                    else{content = content1 + '<tr hidden><th></th></tr>' + content2}
                    n += 1
                    let old_content = $('#deadlines-table').html()
                    $('#deadlines-table').html(old_content + content)
                    $(`.month-${month}-of-id-${id}`).attr("selected","selected")
        }










        /*----------activate buttons-------------*/
        let form_condition = 'closed'
        $('.opened-edit-icon').hide()
        $('.deadline-form').hide();
        $('.form-btn').click(function(){
            let id = $(this).attr('name')
            $(`#${id}`).click()
        })
        $('.cancel').click(function(){
            let id = $(this).attr('container')
            $(`#${id}`).slideUp(300)
            $(`#tr-${id}`).slideUp(300)
        })
        $('.open-form-btn').click(function(){
            let id = $(this).attr('name')
            let orginal_id = id.split('edit-deadline-form-container')[1]
            if(form_condition == 'closed'){
                $(`#${id}`).slideDown(300)
                $(`#tr-${id}`).slideDown(300)
                form_condition = 'opened'
                $(`.opened-edit-icon${orginal_id}`).show()
                $(`.closed-edit-icon${orginal_id}`).hide()
            }
            else{
                $(`#${id}`).slideUp(300)
                $(`#tr-${id}`).slideUp(300)
                $(`.opened-edit-icon${orginal_id}`).hide()
                $(`.closed-edit-icon${orginal_id}`).show()
                form_condition = 'closed'
            }
            
        })
        $('.delete').click(function(){
            let id = $(this).attr('idfordelete')
            $('#delete-form').attr('action', `delete/${id}`)
            $('#submit-delete-form').click()
        })  
        $('#log-out').click(function(){$('#log-out-submit').click()})
    </script>


</body>
</html>